appdirs
attrs
black
blessings
bpython
certifi
chardet
Click
curtsies
Django
django-crispy-forms
django-currentuser
django-extensions-shell
et-xmlfile
greenlet
idna
jdcal
openpyxl
Pygments
pytz
requests
six
toml
typing
urllib3
wcwidth
