{% extends 'base.html' %}
    {% block title %}Tidrapport{% endblock %}
    {% block body_block %}
        <h2 class="card-title" ></h2>
        <form method="post">{% csrf_token %}
            {{ form.as_p }}
        <input class="btn btn-outline-success" type="submit" value="Hämta">

    </form>
        <table class="table table-hover mt-3">
            <thead class="thead-dark">
                <tr>
                    <th class="text-warning" scope="col">Vecka</th>
                    <th class="text-warning" scope="col">Projektnummer</th>
                    <th class="text-warning" scope="col">Arbetsplats</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>31</td>
                        <td>1954</td>
                        <td>Pfiser</td>
                    </tr>
            </tbody>
        </table>
        <table class="table table-hover">
            <thead class="thead-dark">
                 <tr>
                    <th class="text-warning" scope="col">Typ</th>
                    <th class="text-warning" scope="col">Mån</th>
                    <th class="text-warning" scope="col">Tis</th>
                    <th class="text-warning" scope="col">Ons</th>
                    <th class="text-warning" scope="col">Tors</th>
                    <th class="text-warning" scope="col">Fre</th>
                    <th class="text-warning" scope="col">Lör</th>
                    <th class="text-warning" scope="col">Sön</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="text-warning">Pfiser</th>
                    <td>8</td>
                    <td>8</td>
                    <td></td>
                    <td>8</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class="text-warning">Sjuk</th>
                    <td></td>
                    <td></td>
                    <td>8</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class="text-warning">Tidbank</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>8</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    {% endblock %}
