{% extends 'base.html' %}
    {% block title %}Tid{% endblock %}
    {% block body_block %}
        <h2 class="card-title" >Tid</h2>
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th class="text-warning" scope="col">Vecka</th>
                    <th class="text-warning" scope="col">Beskrivning</th>
                    <th class="text-warning" scope="col">Totalt</th>
                    <th class="text-warning" scope="col"></th>
                </tr>
            </thead>
            <tbody>
                    {% for tid in tider %}
                    <tr>
                        <td><a href="{{ tid.get_absolute_url }}">{{ tid.vecka }}</a></td>
                        <td>{{ tid.projektnr }}</td>
                        <td>{{ tid.get_tot }} Tim</td>
                        <td>
                            <a class="text-success" href="{{ tid.get_absolute_url }}update/">Uppdatera, </a>
                            <a class="text-danger" href="{{ tid.get_absolute_url }}delete/">Radera</a>
                        </td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-outline-warning" href="{% url 'tid_rapport:tid_create' %}">Skapa ny</a>
    {% endblock %}