{% extends 'base.html' %}
    {% block title %}Tid{% endblock %}
    {% block body_block %}
        <h2 class="card-title" ></h2>
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th class="text-warning" scope="col">#</th>
                    <th class="text-warning" scope="col">Datum</th>
                    <th class="text-warning" scope="col">Projektnummer</th>
                    <th class="text-warning" scope="col">Timmar</th>
                    <th class="text-warning" scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for tid in tider %}
                    <tr>
                        <th scope="col">{{ forloop.counter }}</th>
                        <td><a href="{{ tid.get_absolute_url }}">{{ tid.get_weekday }}<br>{{ tid.datum }}</a></td>
                        <td>{{ tid.projektnr }}</td>
                        <td>{{ tid.timmar }}
                            {% if tid.sjuk %}
                                ,Sjuk
                            {% elif tid.tidbank %}
                                ,Tidbank
                            {% endif %}
                        </td>
                        <td><a class="text-success" href="{{ tid.get_absolute_url }}update/">Uppdatera</a>,
                            <a class="text-danger" href="{{ tid.get_absolute_url }}delete/">Radera</a>,
                            <a class="text-warning" href="{% url 'tid_rapport:tid_create' %}">Skapa ny</a>
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}