{% extends 'base.html' %}
    {% block body_block %}
    <div class="container">
      <div class="card bg-dark text-warning mt-5 shadow">
        <div class="card-body">
          <h2 class="card-title">Projekt visa</h2>
          <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th class="text-warning" scope="col">#</th>
                <th class="text-warning" scope="col">Projektnr</th>
                <th class="text-warning" scope="col">Arbetsplats</th>
                <th class="text-warning" scope="col">Kund</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
                {% for projekt in object_list %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ projekt.projektnr }}</td>
                        <td>{{ projekt.arbetsplats }}</td>
                        <td>{{ projekt.kund }}</td>
                        <td><a class="text-success" href="#">Update, </a><a class="text-danger" href="#">Delete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
          <button type="button" href="#" class="btn btn-outline-primary">Lägg till</button>
        </div>
      </div>
    </div>
    {% endblock %}