{% extends 'base.html' %}
    {% block title %}Projekt{% endblock %}
    {% block body_block %}
        <h2 class="card-title" ></h2>
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th class="text-warning" scope="col">#</th>
                    <th class="text-warning" scope="col">Projektnummer</th>
                    <th class="text-warning" scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for p in projekt %}
                    <tr>
                        <th scope="col">{{ forloop.counter }}</th>
                        <td><a href="{{ p.get_absolute_url }}">{{ p.projektnr }}, {{ p.anlaggning}}</a></td>
                        <td><a class="text-success" href="{{ p.get_absolute_url }}update/"><i class="fas fa-edit"></i></a>
                            <a class="text-danger" href="{{ p.get_absolute_url }}delete/"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-outline-warning" href="{% url 'tid_rapport:projekt_create' %}">Skapa ny</a>
    {% endblock %}