{% extends 'base.html' %}
    {% block title %}Projekt{% endblock %}
    {% block body_block %}
        <h2 class="card-title" ></h2>
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th class="text-warning" scope="col">#</th>
                    <th class="text-warning" scope="col">Beskrivning</th>
                    <th class="text-warning" scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for projekt in projekt %}
                    <tr>
                        <th scope="col">{{ forloop.counter }}</th>
                        <td>{{ projekt.projektnr }}</td>
                        <td><a class="text-success" href="{{ projekt.get_absolute_url }}update/">Uppdatera</a>,
                            <a class="text-danger" href="{{ projekt.get_absolute_url }}delete/">Radera</a>,
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-outline-warning" href="{% url 'tid_rapport:projekt_create' %}">Skapa ny</a>
    {% endblock %}